---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { best_projects } from "../data/best_projects";
import Color from "../components/Color.astro";
import Icons from "../components/Icons.astro";
---

<style is:global>

ul {
	list-style-type: none;
	border-left: 3px solid #f1d151;
    padding-left: 20px;
}

li {
	padding: 10px 0;
}

</style>

<Base title="Hello From Martinmimi">
    <meta name="google-site-verification" content="IFEo0aViUJ7CotXjN7L5ndXWPldnsmi6gnGiwDPKSx4" slot="head">

	<Card heading="About Myself">
		<p>Who doesn't love a simple introduction? :&gt;</p>

		<ul>
            <li><Color color="#a6e3a1">Enthusiastic</Color> programmer/learner</li>
            <li><Color color="#f2cdcd">Hot chocolate</Color> enjoyer<Icons icon="cup" size="20px" /></li>
            <li>Learning <Color color="#f38ba8">New Languages</Color></li>
			<li>Currently trying new random things</li>
            <li>Have my own <a href="/3d">3D logo</a></li>
		</ul>
	</Card>

	<Card heading="Best Projects">
        <p>These are some of <Color color="#cba6f7">my best projects</Color> that I'm the most proud of!</p>
		<p>To check out all my projects, visit my project list <a href="/projects">Here</a>.</p>
		{best_projects.map((project) => <ProjectCard {...project} />)}
	</Card>

    <Card heading="Tools">
        <p>All programmers have their own <Color color="#fab387">favourite tools</Color> to work with.</p>
        <p>Check out the <a href="/tools">Tools I use</a>.</p>
    </Card>

    <Card heading="Blogs">
        <p>Yes. It is as <Color color="#9399b2">empty</Color> as a desert.</p>
        <p>See <a href="/blogs">Blogs</a>.</p>
    </Card>

    <Card heading="Links">
        <p>Why use search engines?</p>
        <p>Check out <a href="/links">Links</a> for some <Color color="#eba0ac">personally collected</Color> websites.</p>
    </Card>

	<Card heading="Contacts">
        <p>If you like to <Color color="#f9e2af">ask</Color> about anything, feel free to contact me!</p>
		<ul>
			<li>
				By Email: <a href="mailto:wmartinmimipub@gmail.com">wmartinmimipub@gmail.com</a>
			</li>
			<li>
				From Github: <a href="https://github.com/wmartinmimi">wmartinmimi</a>
			</li>
		</ul>
	</Card>
</Base>
