---
import Base from "../layouts/Base.astro";
---

<Base title="Martinmimi">
	<h1>Hello From Martinmimi</h1>
	<hr />

    <h2>About myself</h2>

    <p>Who doesn't like a simple introduction? :&gt;</p>

    <ul>
        <li>Enthusiastic programmer/learner</li>
        <li>Hot chocolate enjoyer</li>
        <li>Use primarily Java</li>
        <li>Currently trying new random things</li>
	</ul>

	<h2>Contacts</h2>

	<ul>
		<li><a href="mailto:wmartinmimipub@gmail.com">Email</a></li>
		<li><a href="https://github.com/wmartinmimi">GitHub</a></li>
	</ul>
	<hr/>

	<small>This website is still very much under construction.</small>
</Base>
