---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
---

<Base title="Links">

    <Card heading="Content">
        <p>Below contains content that I have found amusing to consume.</p>
        <p><a href="https://news.ycombinator.com/">Hacker News</a></p>
        <p><a href="https://xkcd.com/">xkcd</a></p>
    </Card>

    <Card heading="Organisations">
        <p>Below are links to organisations I like.</p>
        <p><a href="https://martinmimigames.github.io/">Martinmimigames</a></p>
    </Card>

    <Card heading="People">
        <p>Below are website links to some fantastic / questionable people.</p>
        <p><a href="https://alexlostorto.github.io/">Alex Lo Storto</a></p>
        <p><a href="https://night0721.xyz/">Night</a></p>
    </Card>

</Base>
