---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import Color from "../components/Color.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Base title="Projects I Make">

    <noscript>
        <p>This page requires javascript to retrieve the project list.</p>
        <p>To view the project list anyway, please visit the following pages.</p>
        <ul>
            <li><a href="https://github.com/wmartinmimi?tab=repositories">martinmimi's github repositories</a></li>
            <li><a href="https://github.com/martinmimigames?tab=repositories">martinmimigames' github repositories</a></li>
        </ul>
    </noscript>

    <Card heading="My Projects">
        <div id="pj"></div>
        <p id="ind"><Color color="#9399b2">loading projects...</Color></p>
    </Card>

    <template id="pc">
        <ProjectCard link="" title="" description="">
        </ProjectCard>
    </template>

    <script>
const pc = document.getElementById("pc")! as HTMLTemplateElement;
const ind = document.getElementById("ind")! as HTMLParagraphElement;

function add_projects(projects: any) {
    for (let project of projects) {
        let card = pc.content.cloneNode(true)! as DocumentFragment;
        let link = project.homepage;
        if (link === null || link.length === 0) {
            link = project.html_url;
        }
        card.querySelector("a")!.href = link;
        card.querySelector("h3")!.textContent = project.full_name;
        card.querySelector("p")!.textContent = project.description;
        document.getElementById("pj")!.appendChild(card);
    }
}

const p1 = fetch("https://api.github.com/users/martinmimigames/repos")
    .then(response => response.json())
    .then(add_projects);
const p2 = fetch("https://api.github.com/users/wmartinmimi/repos")
    .then(response => response.json())
    .then(add_projects);

Promise.all([p1, p2]).then(() => ind.remove())
    </script>
</Base>
