---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
---

<style is:global>
    div.card p {
        margin-left: 20px;
        color: #a6adc8;
    }
</style>

<Base title="What I use">
    <Card heading="Programming Languages">
        <h3>Java</h3>
        <p>Useful for Android and complex projects.</p>
        <h3>Python</h3>
        <p>Quick prototyping and one-off scripting.</p>
        <h3>Rust</h3>
        <p>Typed python, it is nice to code in.</p>
        <h3>C, Zig</h3>
        <p>To build small and quick programs and building understanding.</p>
        <h3>HTML, CSS, JS, TS</h3>
        <p>Cause the web (websites and cloud functions).</p>
        <h3>Golang</h3>
        <p>For servers and headless programs.</p>
    </Card>

    <Card heading="Editors">
        <h3>Neovim</h3>
        <p>My primary editor, customised and really satisfying.</p>
        <p>See my nvim config <a href="https://github.com/wmartinmimi/nvim-config">Here</a>.</p>
        <h3>Intellij IDEA</h3>
        <p>For Android and Java programming.</p>
        <h3>Penpot</h3>
        <p>An open source UI designer web app.</p>
    </Card>

    <Card heading="Verson Control System">
        <h3>Jujitsu</h3>
        <p>My favorite and primary VCS.</p>
        <p>A simplified and powerful working-copy based version control system alternative, with a git compatible backend.</p>
        <h3>Git/GitHub</h3>
        <p>The primary store I use to store my code.</p>
    </Card>

    <Card heading="Markup Languages">
        <h3>Typst</h3>
        <p>My primary markup choice.</p>
        <p>A modern LaTeX alternative. Source readable and easy to use.</p>
        <p>Used for note taking, document writing and typesetting.</p>
        <h3>Markdown</h3>
        <p>Defacto standard markup language for code and documentation.</p>
    </Card>

    <Card heading="Coding Environments">
        <h3>WSL 2</h3>
        <p>A comfy linux like environment in my laptop.</p>
        <h3>Termux</h3>
        <p>So I can program on the streets with my phone.</p>
        <p>Find more about Termux <a href="https://termux.dev/en/">Here</a>.</p>
    </Card>
</Base>

