---

const date = new Date();
---
<style>
footer {
    display: block;
    padding: 20px;
    padding-bottom: 30vh;
    background-color: #202029;
}

hr {
    color: #e8e8ea;
}
</style>

<footer>
    <hr/>

    <p><small>This website is still very much under construction.</small></p>

    <p><small>Copyright &copy; {date.getUTCFullYear()} Martinmimi</small></p>
</footer>
