---
const date = new Date();
---
<style is:global>
footer {
    display: block;
    padding: 20px;
    padding-bottom: 30vh;
    background-color: #11111b;

    & hr {
        border-top: 1px solid #cdd6f4;
    }

    & * {
        color: #cdd6f4;
    }
}

</style>

<footer>
    <hr/>

    <p><small>This website is still very much under construction.</small></p>

    <p><small>Copyright &copy; {date.getUTCFullYear()} Martinmimi &lt;3</small></p>
</footer>
