---
import { nav_links } from "../data/nav_links";
---

<style is:global>
nav {
    background-color: #11111b;
    display: grid;
    justify-items: center;

    & > a {
        &, &:visited {
            color: #a5adce;
            padding: 20px;
            display: inline-block;
            text-decoration: none;
        }

        &:first-child {
            justify-self: left;
            grid-row: 1;
        }
    }

    & > label {
        color: #a5adce;
        padding: 20px;
        grid-row: 1;
        justify-self: right;

        & ~ * {
            display: none;
            justify-self: center;
        }
    }

    & > input {
        display: none;

        &:checked ~ label ~ * {
            display: inline-block;
            grid-column: span 2;
        }
    }

    @media (min-width: 840px) {

        & {
            display: block;
        }

        & > label{
            display: none;
        }

        & > input ~ a {
            display: inline-block;
        }

        & > input ~ a.sright ~ a {
            float: right;
        }

        & > a.current {
            background-color: #0a0a0e;
            color: #c6d0f5;
            padding-top: 13px;
            border-top: 7px solid #89b4fa;
        }
    }
}
</style>

<nav>
    {<a href="/" class:list={{current: Astro.url.pathname === "/"}}>Martinmimi</a>}
    <input type="checkbox" id="nav-menu">
    <label for="nav-menu">☰</label>
    { nav_links.map((link, index) =>
    <a href={link.link} class:list={{
        current: Astro.url.pathname === link.link,
        sright: index === nav_links.length - 1,
    }}>{link.title}</a>) }
    <a href="https://github.com/wmartinmimi">Github</a>
</nav>
