---
import { nav_links } from "../data/nav_links";
---

<style is:global>
nav {
    background-color: #202029;
    display: grid;
    justify-items: center;
    box-shadow: 0 0 15px #00000030;
}

nav * {
    color: #e8e8ea;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

nav>a:first-child {
    justify-self: left;
    grid-row: 1;
}

nav>input {
    display: none;
}

nav>label {
    display: inline-block;
    grid-row: 1;
    justify-self: right;
}

nav>label~* {
    display: none;
    justify-self: center;
}

nav>input:checked~label~* {
    display: inline-block;
    grid-column: span 2;
}

@media (min-width: 840px) {
    nav>label{
        display: none; 
    }

    nav {
        display: block;
    }

    nav>input~a {
        display: inline-block;
    }

    nav>input~a.sright~a {
        float: right;
    }
}
</style>

<nav>
    <a href="/">Martinmimi</a>
    <input type="checkbox" id="nav-menu">
    <label for="nav-menu">☰</label>
    { nav_links.slice(0, -1).map((link) => <a href={link.link}>{link.title}</a>) }
    { nav_links.slice(-1).map((link) => <a href={link.link} class="sright">{link.title}</a>) }
    <a href="https://github.com/wmartinmimi">Github</a>
</nav>
