---
const { title, description, link } = Astro.props;
---

<style is:global>
a.project-card {

    &, &:visited {
        border-style: solid;
        padding: 20px;
        border-radius: 5px;

        background-color:#0a0a0e70;
        color: #cdd6f4;
        display: inline-block;
        text-decoration: none;
        margin: 20px 0;

        vertical-align: top;

        @media (min-width: 840px) {
            & {
                width: 40%;
                margin: 20px;
            }
        }
    }

    &:hover > h3 {
        text-decoration: underline;
    }

    & > p {
        color: #a6adc8;
    }
}
</style>

<a class="project-card" href={link}>
    <h3>{title}</h3>
    <p>{description}</p>
</a>
