---
const { title } = Astro.props;
---

<style is:global>
#title {
    display: flex;
    justify-content: center;
    margin: 40px;
    margin-bottom: 0;

    & > div {
        border-style: dashed none dashed none;
        padding: 5px 0;

        text-align: center;
        margin: 0 auto;
    }
}
</style>

<div id="title">
    <div>
            <h1>{title}</h1>
    </div>
</div>

