---
const { title } = Astro.props;
---

<style is:global>
#title {
    display: flex;
    justify-content: center;
}

#title>div {
    text-align: center;
    padding: 30px 60px;

    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #00000030 inset;
    display: inline-block;

    background-color: #484039;
    margin: 0 auto;
}

@media (min-width: 840px) {
    #title>div {
        margin-top: 20px;
        transform: skew(-25deg);
        border-radius: 5px;
    }

    #title>div>div {
        transform: skew(25deg);
    }
}

#title>div>div>div {
    border-style: dashed none dashed none;
    display: inline-block;
    padding: 0 20px;
    margin: -3px 0;
    translate: -2px -2px;

}

#title>div>div {
    border-style: dashed none dashed none;
    translate: 2px 2px;
    border-color: #00000030;
    margin: 0 10px;
}

#title h1 {
    text-shadow: 2px 2px 2px #00000030; 
}

</style>

<div id="title">
    <div>
        <div>
            <div>
                <h1>{title}</h1>
            </div>
        </div>
    </div>
</div>

