---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<style is:global>
		body {
			background: #1f1a19;
			color: #e8e8ea;
		}

		* {
			border-color: #f1d151;
			border-style: none;
			border-width: 3px;
			margin: 0;
		}

		p {
			margin: 20px 0;
		}

		</style>
	</head>

	<body>
		<NavBar />
		<slot />
		<Footer />
	</body>
</html>
