---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";
import Background from "../components/Background.astro";

const { title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
        <meta name="color-scheme" content="dark">
        <meta name="darkreader-lock">
        <link rel="canonical" href={canonicalURL} />

        <slot name="head" />

		<title>{title}</title>
		<style is:global>
		body {
			background: #0a0a0e;
			color: #cdd6f4;
		}

        #app {
            padding: 0 min(7vw, 100vw - 500px);
        }

		* {
			border-color: #f1d151;
			border-style: none;
			border-width: 3px;
			margin: 0;
            font-family: 'f';
            font-weight: 350;
		}

		p {
			margin: 20px 0;
		}

        a {
            color: #89b4fa;
        }

        a:visited {
            color: #cba6f7;
        }

        h2 {
            color: #b4befe;
        }

        @font-face {
            font-family: 'f';
            src: url('/jetbrains-mono.ttf') format('truetype');
            font-display: swap;
        }

		</style>
	</head>

	<body>
        <Background />
		<NavBar />
		<Title title={title} />
        <div id="app">
            <slot />
        </div>
		<Footer />
	</body>
</html>
