---
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<style>
			body {
				background: #1f1a19;
				color: #e8e8ea;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<slot />
		<Footer />
	</body>
</html>
